apiVersion: v1
kind: Secret
metadata:
  name: docker-hub-cred
data:
  # https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/
  .dockerconfigjson: <base64 encoded ~/.docker/config.json>  
type: kubernetes.io/dockerconfigjson
