apiVersion: v1
kind: Secret
metadata:
  name: copernicus
  namespace: gdsc
type: Opaque
data:
  # for the CDSAPI see https://cds.climate.copernicus.eu/how-to-api
  .cdsapirc: <base64 encoded ~/.cdsapirc>