apiVersion: v1
kind: Secret
metadata:
  name: postgis
type: Opaque
stringData:
  POSTGRES_DB: gdsc
  POSTGRES_USER: postgres
  POSTGRES_PASSWORD: <password>
  SDE_PASSWORD: <password>
##
 # NOTE: this only works if the database dir is empty (new database), otherwise
 # secrets from initial run will be used
 #
 # TODO: link this with the secret in the config directory
 #
 # Finally: could also be done with configMap
 ##
